@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #2b00ad;
  --background: #fffdc5;
  --main: #ffe149;
  --accent: #b9fffb;
  --baccent: #00515d;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-family: Merriweather, serif;
}

.text-main {
  color: var(--main);
}

.bg-main {
  background-color: var(--main);
}

.text-accent {
  color: var(--accent);
}

.bg-accent {
  background-color: var(--accent);
}

.text-baccent {
  color: var(--baccent);
}

.bg-baccent {
  background-color: var(--baccent);
}

.text-text {
  color: var(--text);
}

.bg-text {
  background-color: var(--text);
}